modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 22718
externalPort = 3002

[[ports]]
localPort = 22719
externalPort = 4200

[[ports]]
localPort = 23705
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BE5fbjkebTbk9Xerof7LhwhBm7YCHKfBKUHK52ZZh42qphRfkhUem-GiNTUdDpgLsXyh4lht3ICRz2ykQSS2YxM"
VAPID_PRIVATE_KEY = "8BcYBI7ORsgZ7irhCiWan3bh6ekINvDunVHycgtTp4g"
EXPO_PUBLIC_DOMAIN = "76350483-02d4-4070-b600-6c938bdfecad-00-2n5nnqp310180.picard.replit.dev"
THE_ODDS_KEY = "6f12853582bfd3b2c3b4263d95b96812"
VAPID_SUBJECT = "mailto:admin@bjspropicks.com"
ADMIN_USER_ID = "58638102"
