modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22718
externalPort = 3002

[[ports]]
localPort = 23705
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BFKd68hfW5DyNrfUu6oO-R8Gr3HsMMj5gZzW4pW6RXs6Zvq_Vkk86WE2sSrZXD0U8CcolCoqHANLPWVn9MA8nDk"
VAPID_PRIVATE_KEY = "T2S3V1FCJFMiXBxZUP8ZCXp7Uo61wzeglt-hP1T57EU"
EXPO_PUBLIC_DOMAIN = "76350483-02d4-4070-b600-6c938bdfecad-00-2n5nnqp310180.picard.replit.dev"
